#
export BBL_IAAS=aws
export BBL_ENV_NAME=bbl-gershman
export BBL_AWS_ACCESS_KEY_ID=$(cat ~/.aws/credentials | grep aws_access_key_id | cut -d '=' -f 2- | tr -d ' ')
export BBL_AWS_SECRET_ACCESS_KEY=$(cat ~/.aws/credentials | grep aws_secret_access_key | cut -d '=' -f 2- | tr -d ' ')
export BBL_AWS_REGION=us-east-2
export BBL_STATE_DIRECTORY=state
